.contact-container {
    display: flex;
}

.email-confirmation {
    color: #5affd8;
    font-size: 1rem;
    margin-top: 1rem;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }
  