.find-me-section {
  text-align: center;
  padding: 3rem 0 4rem 0;
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1.5s forwards ease-out;
}

.find-me-section h2 {
  font-size: var(--font-size-xxxl);
  margin-bottom: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.social-icon {
  font-size: var(--font-size-4xl);
  color: var(--text-color-dim);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  color: var(--primary-color);
}

@media (min-width: 768px) {
  .find-me-section h2 {
    margin-bottom: 1rem;
    margin-top: 0;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
