.footer {
  background-color: var(--footer-bg);
  color: var(--text-color-dim);
  padding: 1rem 0;
  text-align: center;
  font-size: var(--font-size-xs);
  width: 100%;
  position: relative;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.footer-brand h3 {
  font-size: var(--font-size-xl);
  padding: 0;
}

.footer-brand p {
  padding: 0;
}

.footer-socials {
  display: flex;
  gap: 1rem;
}
.footer-socials a {
  font-size: var(--font-size-base);
}

.social-icon {
  font-size: var(--font-size-base);
  color: var(--text-color-dim);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  color: var(--primary-color);
}

.footer-copyright {
  opacity: 0.8;
  align-self: center;
}

@media (min-width: 1024px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
    gap: 0;
  }
}
