.home-section,
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4.5rem;
  color: var(--text-color);
}

.home-section .intro-section {
  padding-bottom: 3rem;
}

.hero-content,
.intro-content {
  max-width: 90%;
  padding: 0 2rem;
}

.hero-content {
  width: 100%;
  padding: 0 1.2rem;
}

.hero-title,
.intro-title {
  font-size: var(--font-size-4xl);
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.intro-title {
  font-size: var(--font-size-xxl);
  text-transform: uppercase;
}

.hero-title-intro {
  color: var(--text-color);
  text-transform: uppercase;
}

.my-name {
  color: var(--secondary-color);
  font-weight: 600;
}

.hero-subtitle,
.intro-description {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.intro-description {
  font-size: var(--font-size-lg);
}

.subtitle-with-emoji {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: var(--font-size-sm);
}

.emoji {
  font-size: var(--font-size-xl);
  animation: fadeIn 0.3s ease-in-out;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: var(--font-size-base);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.primary-btn {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.primary-btn:hover {
  background-color: var(--logo-hover-color);
}

.secondary-btn {
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
}

.secondary-btn:hover {
  background-color: var(--text-color);
  color: var(--text-color-inverse);
}

.hero-image img,
.intro-image img {
  width: 90%;
  max-width: 300px;
  border-radius: 10px;
}

.hero-image {
  margin-top: 3rem;
}

.intro-image img {
  border-radius: 50%;
  box-shadow: 0 4px 6px var(--shadow-light);
}

@media (min-width: 768px) {
  .home-section {
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
    padding: 4rem 8%;
  }

  .subtitle-with-emoji {
    font-size: var(--font-size-base);
  }

  .intro-section {
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    padding: 4rem 8%;
  }

  .hero-content,
  .intro-content {
    max-width: 50%;
  }

  .home-section .intro-content {
    max-width: 65%;
  }

  .btn {
    padding: 0.8rem 2rem;
  }

  .hero-buttons {
    flex-direction: row;
  }

  .hero-image img,
  .intro-image img {
    max-width: clamp(280px, 40vw, 400px);
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-section,
  .intro-section {
    padding: 3rem 3%;
  }
  .intro-section {
    flex-direction: column;
    padding: 2rem 0;
  }

  .intro-section .intro-content {
    max-width: 90%;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .home-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
  }

  .hero-content {
    max-width: 50%;
    text-align: left;
  }

  .subtitle-with-emoji {
    font-size: var(--font-size-lg);
  }

  .hero-image img {
    max-width: 500px;
  }

  .intro-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6%;
  }

  .home-section .intro-content {
    max-width: 70%;
    padding-left: 2rem;
  }

  .intro-section .intro-content {
    padding-left: 3rem;
  }

  .intro-image {
    max-width: 35%;
  }

  .intro-image img {
    width: 100%;
    border-radius: 10px;
  }

  .hero-buttons {
    justify-content: space-between;
  }

  .hero-buttons .btn {
    padding: 0.8rem 2rem;
    font-size: var(--font-size-base);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    flex: 1;
    text-align: center;
  }

  .btn:hover {
    transform: scale(1.05);
  }
}
