.navbar {
  background-color: var(--navbar-bg);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: var(--navbar-text);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition:
    box-shadow 0.4s ease-in-out,
    background-color 0.3s ease;
  z-index: 999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-bg);
  z-index: 998;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(2px);
}

.navbar.scrolled {
  background-color: var(--navbar-bg-scrolled);
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.logo {
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
}

.nav-logo {
  width: auto;
  transition: transform 0.3s ease;
  color: var(--logo-color);
  vertical-align: middle;
}

.nav-logo:hover {
  transform: scale(1.2) rotate(-2deg);
  color: var(--logo-hover-color);
  filter: drop-shadow(0 0 6px var(--secondary-color));
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.navbar-content {
  display: flex;
  width: 100%;
  align-items: center;

  background: rgba(255, 0, 0, 0.05); /* temp debug */
}

.nav-list {
  list-style: none;
  gap: 1rem;
  display: none;
  flex-direction: column;
  transition: all 0.8s;
  align-items: baseline;
  justify-content: center;
  z-index: 999;
}

.nav-list.open {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: var(--font-size-xl);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: var(--nav-link-hover-color);
}

.nav-list a .nav-icon {
  font-size: var(--font-size-lg);
}

.navbar-toggle {
  background: none;
  border: none;
  font-size: var(--font-size-xl);
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5rem;
  transition:
    transform 0.3s ease,
    opacity,
    0.3s ease;
}

.navbar-toggle svg {
  color: var(--navbar-text);
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  transform-origin: center;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.navbar-toggle.open svg {
  transform: rotate(180deg);
}

.navbar-toggle:hover {
  transform: scale(1.2);
}
.navbar-toggle .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.navbar-toggle.open .icon-wrapper {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .navbar {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-menu {
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  .navbar-content {
    width: auto;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .nav-list.open {
    display: flex;
    padding: 0;
  }
  .nav-list a {
    font-size: var(--font-size-lg);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .logo {
    align-self: center;
  }

  .nav-list {
    flex-direction: row;
    gap: 2rem;
  }

  .nav-list a {
    flex-direction: column;
    align-items: center;
  }

  .nav-list a .nav-icon {
    margin-bottom: 0.25rem;
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 1rem 3rem;
    align-items: center;
  }

  .nav-list {
    flex-direction: row;
    gap: 2rem;
  }

  .nav-list a {
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .nav-list.open {
    gap: 1.5rem;
  }

  .nav-list {
    gap: 0.5rem;
  }
  .navbar-toggle .icon-wrapper {
    width: 40px;
    height: 40px;
  }
  .nav-list a .nav-icon {
    font-size: var(--font-size-xxl);
  }
}

@media (min-width: 1200px) {
  .nav-list a {
    font-size: var(--font-size-lg);
  }
  .nav-list {
    gap: 2.5rem;
  }
}

@media (max-width: 480px) {
  .nav-list.open {
    align-items: center;
    text-align: center;
  }

  .nav-list a {
    justify-content: center;
  }

  .theme-toggle-mobile {
    margin-top: 1rem;
  }
}

/* responsiveness */

@media (min-width: 320px) and (max-width: 339px) {
  .navbar-content {
    padding-right: 1.5rem;
  }
}

@media (min-width: 340px) and (max-width: 359px) {
  .navbar-content {
    padding-right: 2.5rem;
  }
}

@media (min-width: 360px) and (max-width: 379px) {
  .navbar-content {
    padding-right: 3.7rem;
  }
}

@media (min-width: 380px) and (max-width: 399px) {
  .navbar-content {
    padding-right: 4.5rem;
  }
}

@media (min-width: 400px) and (max-width: 419px) {
  .navbar-content {
    padding-right: 5rem;
  }
}

@media (min-width: 420px) and (max-width: 439px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 440px) and (max-width: 459px) {
  .navbar-content {
    padding-right: 5.6rem;
  }
}

@media (min-width: 460px) and (max-width: 479px) {
  .navbar-content {
    padding-right: 6rem;
  }
}

@media (min-width: 480px) and (max-width: 499px) {
  .navbar-content {
    padding-right: 6rem;
  }
}

@media (min-width: 500px) and (max-width: 519px) {
  .navbar-content {
    padding-right: 6rem;
  }
}

@media (min-width: 520px) and (max-width: 539px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 540px) and (max-width: 559px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 560px) and (max-width: 579px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 580px) and (max-width: 599px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 600px) and (max-width: 619px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 620px) and (max-width: 639px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 640px) and (max-width: 659px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 660px) and (max-width: 679px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 680px) and (max-width: 699px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 700px) and (max-width: 719px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 720px) and (max-width: 739px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 740px) and (max-width: 759px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}

@media (min-width: 760px) and (max-width: 767px) {
  .navbar-content {
    padding-right: 5.5rem;
  }
}
