.projects-section {
  text-align: center;
  padding: 4rem 2rem;
  color: var(--text-color-dim);
}

.projects-title {
  font-size: var(--font-size-xxxl);
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.projects-title h2 {
  margin: 0;
  padding-bottom: 1rem;
}

.projects-title p {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base);
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;
  justify-items: center;
}

.project-card {
  max-width: 500px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 1.5rem;
  text-align: center;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    background 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--hover-card-color);
  background: var(--hover-bg-glow);
}

.project-image {
  width: 100%;
  max-width: 450px;
  min-height: 350px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.project-title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: var(--font-size-base);
  margin-bottom: 1rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.project-tag {
  font-size: var(--font-size-xs);
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
  border-radius: 12px;
  font-weight: 500;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project-btn {
  padding: 0.8rem 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: var(--font-size-base);
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  gap: 10px;
  align-items: center;
}

.project-btn svg {
  font-size: 1.33rem;
}

.project-btn:hover {
  background-color: var(--primary-color);
  color: var(--btn-hover-text);
}

@media (min-width: 500px) and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

@media (min-width: 769px) {
  .projects-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .projects-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    max-width: 1200px;
  }
}
