.quote-section {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--quote-bg);
  border-left: 4px solid var(--secondary-color);
  border-radius: 6px;
  text-align: center;
}
.quote-icon {
  font-size: var(--font-size-xxxl);
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.quote-text {
  font-size: var(--font-size-xl);
  font-style: italic;
  color: var(--text-color-dim);
  margin-bottom: var(--font-size-lg);
}

.quote-author {
  font-size: var(--font-size-base);
  color: var(--primary-color);
  font-weight: 500;
}

@media (min-width: 1024px) {
  .quote-text {
    font-size: var(--font-size-xxl);
  }

  .quote-section {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .quote-section {
    max-width: 50%;
    justify-self: center;
  }
}
