.resume-section {
    padding: 4rem 2rem;
  }
  
  .resume-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  
  .resume-section .btn {
    margin-bottom: 2rem;
  }
  
  .resume-preview {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .resume-image {
    width: 100%;
    max-width: 1000px; 
    height: auto;
    border: 2px solid #5affd8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .resume-download {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem 2rem;
    border: 2px solid #5affd8;
    border-radius: 5px;
    font-size: 1rem;
    color: #5affd8;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .resume-download:hover {
    background-color: #5affd8;
    color: #333;
  }
  
.certifications-section {
  margin-top: 3rem;
  text-align: center;
}

.certifications-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.certifications-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
}

.cert-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid #5affd8;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.cert-card:hover {
  transform: scale(1.05);
}

.cert-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.cert-text {
  margin-top: 0.8rem;
  font-size: 1rem;
  color: #ccd6f6;
}

@media (min-width: 1024px) {
  .certifications-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cert-image {
    max-width: 600px; 
  }
}

