.skills-section {
  text-align: center;
  padding: 3rem 2rem;
}

.skills-title {
  font-size: var(--font-size-4xl);
  margin-bottom: 2rem;
  color: var(--secondary-color);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.skill-card {
  background: var(--card-bg);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 4px 6px var(--shadow-light);
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--hover-card-color);
}

.skill-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.skill-card h3 {
  font-size: var(--font-size-lg);
  color: var(--text-color-dim);
}

@media (min-width: 550px) and (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
}
