.tech-marquee-section {
  text-align: center;
  margin-top: 4rem;
}

.tech-marquee-title {
  font-size: var(--font-size-xxl);
  color: var(--primary-color);
  margin-bottom: 1rem;
  font-weight: 600;
}

.tech-marquee {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 1.5rem 0;
  border-top: 1px solid var(--marquee-border);
  border-bottom: 1px solid var(--marquee-border);
}

.marquee-track {
  display: inline-flex;
  gap: 2rem;
  animation: scroll var(--duration) linear infinite;
  width: max-content;
  will-change: transform;
}

.marquee-track:hover,
.tech-marquee:active {
  animation-play-state: paused;
}

.marquee-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-xxxl);
  color: var(--primary-color);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.marquee-icon:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
  cursor: default;
}

.react-native-icon {
  transform: rotate(15deg);
  color: #61dafb;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}
.marquee-icon:hover .react-native-icon {
  color: #ffa94d;
}
.marquee-icon-wrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  position: absolute;
  bottom: -1.3rem;
  left: 50%;
  transform: translateX(-50%) translateY(4px);
  color: var(--text-color-dim);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: var(--font-size-xxs);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 10;
}

.marquee-icon:hover .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.marquee-icon:active .tooltip {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

@media (min-width: 768px) {
  .marquee-icon {
    font-size: var(--font-size-4xl);
    margin: 0 2.5rem;
  }
}

@media (min-width: 1024px) {
  .marquee-icon {
    font-size: 3rem;
    margin: 0 3rem;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
