.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--primary-color);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.theme-toggle-btn:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
}

.theme-toggle-desktop {
  display: none;
}

@media (min-width: 768px) {
  .theme-toggle-btn {
    padding-left: 3rem;
  }
  .theme-toggle-desktop {
    display: block;
    margin-right: 1.5rem;
  }

  .theme-toggle-mobile {
    display: none;
  }
}
