.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: var(--primary-color);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.theme-toggle-btn:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
}

@media (min-width: 768px) {
  .theme-toggle-btn {
    font-size: 1.5rem;
    padding-right: 2rem;
  }
  .theme-toggle-wrapper {
    margin-top: 0;
    justify-content: flex-end;
  }

  .navbar-content {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .theme-toggle-btn {
    padding: 0 1rem 0 2.5rem;
  }
}
